@{
    ViewBag.Title = "Day Wise Details";
}
<script src="~/SearchBoxForTable.js"></script>
<link href="~/TableStyle.css" rel="stylesheet" />
<br />
Filter By Name &nbsp;&nbsp;<input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search Employee..." title="Type in a name" /><br /><br />

<table align="center" border="1" id="myTable">
    <tr>
        <th>
            Employee Id
        </th>
        <th>
            Employee Name
        </th>
        <th>
            Date
        </th>
        <th>
            Hours Filled
        </th>
    </tr>

    @foreach (var item in Model)
    {

        <tr>
            <td>
                @item.EmployeeId
            </td>
            <td>
                @item.EmployeeName
            </td>
            <td>
                @item.ActDate
            </td>
            <td>
                @item.HoursMentioned
            </td>
        </tr>

    }


</table>

